<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a::computer</title>
</head>
<body>
    <h1 align="center">a::comp</h1>
    <ul>
    {% for story in stories %}
        <li>
            <p style="text-transform: uppercase;"><a href="/story/{{ story.id }}/">{{ story.title }}</a></p>
            <p>{{ story.date }}</p>
            <div style="#tag-list">
                {% for tag in story.tag.all() %}
                    <a href="/tag/{{ tag.id }}/{{ tag.name }}/">{{ tag.name }}</a>,
                {% endfor %}
            </div>
        </li>
    {% endfor %}
    </ul>
</body>
</html>