{% extends "template_base.html" %}
{% block title %}home{% endblock %}

{% block content %}

    <div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
    <li class="menu-text">Blog</li>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    </ul>
    </div>
    </div>
     
    <div class="callout large primary">
    <div class="row column text-center">
    <h1><img src="static/img/logo.png"/>a::comp</h1>
    </div>
    </div>

    <div class="row">
        <h3>Web signature</h3>
    </div>

    <div class="row"><h3>Recent stories</h3></div>

    <div class="row medium-8 large-7 columns">
    {% for story in stories %}
        <div class="blog-post">
            <p style="text-transform: uppercase;"> <i style="step fi-foot size-48"></i> <a href="/story/{{ story.id }}/">{{ story.title }}</a></p>
            <p>{{ story.date }}</p>
                {% for tag in story.tag.all()|sort(attribute="name") %}
                    <a href="/tag/{{ tag.id }}/{{ tag.name }}/">{{ tag.name }}</a>,
                {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}