{% extends "template_base.html" %}
{% block title %}home{% endblock %}

{% block head %}

    <style>
      .size-48 { font-size: 48px; }
    </style>

{% endblock %}

{% block content %}

    <div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
    <li class="menu-text">Blog</li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    </div>
    </div>
     
    <div class="callout large primary">
        <div class="row">
            <div class="large-4 column text-center">
            <img src="/static/img/logo.png"/>
            </div>
            <div class="large-8 column end">
            <p>
            Hi, I'm <b>Mirko Raca</b>. I have a PhD in computer science, so that kinda means I like coding and fun problems. Check out links below to find out about my work at various locations around the net.
            </p>

            <p>
            This is a personal blog, created to localize my on-line persona and for putting up with various projects I hope I'll get to do one day. It's not a blog for you - it's a blog meant for me. That's the only way I'll get to write it. If you find the texts incorrect or valuable, <a href="#">let me know</a>.
            </p>
            </div>
        </div>
    </div>

    <div class="row medium-8 large-7 end">
        <h3>Web signature</h3>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-1 columns"><a title="LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/racamirko"> <i class="fi-social-linkedin size-48"></i> </a></div>
        <div class="small-1 columns"><a title="GitHub" target="_blank" href="http://github.com/racamirko"> <i class="fi-social-github size-48"></i> </a></div>
        <div class="small-1 columns"><a title="Google Scholar" target="_blank" href="https://scholar.google.ch/citations?user=AMsEOW8AAAAJ"> <i class="fi-lightbulb size-48"></i> </a></div>
        <div class="small-1 columns"><a title="EPFL published papers" target="_blank" href="http://infoscience.epfl.ch/search?ln=en&p=raca"><i class="fi-book size-48"></i> </a></div>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-1 columns"><a title="Twitter account" target="_blank" href="https://twitter.com/code_scrapping"> <i class="fi-social-twitter size-48"></i> </a></div>
        <div class="small-1 columns"><a title="LastFM music profile" target="_blank" href="http://last.fm/user/srbox"> <i class="fi-social-lastfm size-48"></i> </a></div>
        <div class="small-1 columns"><a title="Goodreads reading profile" target="_blank" href="https://www.goodreads.com/user/show/33353368-mirko"><i class="fi-bookmark size-48"></i> </a></div>
        <div class="small-1 columns"><a title="Running records" target="_blank" href="https://www.strava.com/athletes/9675718"><i class="fi-megaphone size-48"></i> </a></div>
        <div class="small-1 columns end">&nbsp;</div>
    </div>

    <div class="row medium-8 large-7 end"><h3>Recent stories</h3></div>

    <div class="row medium-8 large-7 columns end">
    {% for story in stories %}
        <div class="blog-post">
            <h4><a href="/story/{{ story.id }}/">{{ story.title | title }}</a><small>{{ story.date }}</small></h4>
                <p>
                    {{ story.body|truncatewords:30  }}
                </p>
                <small>
                {% for tag in story.tag.all %}
                    <a href="/tag/{{ tag.id }}/{{ tag.name }}/">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
                </small>
        </div>
        <hr/>
    {% endfor %}
    <div class="row medium-8 large-7 columns end">
        <a href="#" class="button">Load more stories</a>
    </div>
    </div>
{% endblock %}