{% extends "template_base.html" %}

{% block content %}
    <div class="top-bar">
    <div class="top-bar-left">
    	<a href="/"> <img height="30" width="30" src="/static/img/logo.png"/> Analog computer:: </a>
<!--     <ul class="menu">
    <li class="menu-text"><a href="/">Blog</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
 -->    </div>

        {% if user.is_authenticated %}
        <div class="top-bar-right">
            <ul class="menu">
            <li class="menu-text">Hi, {{ user.username }}</li>
            <li><a href="#">Actions</a></li>
            <li><a href="/aj_zdravo/">Log out</a></li>
            </ul>
        </div>
        {% endif %}
    
    </div>
    
    <div class="row"> 
	{% block text_content %}

	{% endblock %}
	</div>

{% endblock %}