<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>::a:computer::{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" />

    <script src="/static/js/jquery-2.1.4.js"></script>
    <script src="/static/js/foundation.js"></script>


    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}

    {% endblock %}
    <div id="footer">
    	<hr>
        {% block footer %}
        &copy; Copyright 2015 by <a href="http://analog.computer/">me</a>.
        {% endblock %}
    </div>

<script>
      $(document).foundation();
    </script>

</body>
</html>